.error-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-top: 10%;
}

.back-home{
    background-color: rgb(79, 79, 253);
    padding: 1rem 1rem;
    text-decoration: none;
    color: black;
    cursor: pointer;
    border-radius: 5px;
    width: auto;

}

.back-home:hover{
    background-color:  rgb(33, 33, 243);
}